<div id="<%= dom_id lead %>">
  <p>
    <strong>First name:</strong>
    <%= lead.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= lead.last_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= lead.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= lead.email %>
  </p>

  <p>
    <strong>Line of business:</strong>
    <%= lead.line_of_business %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= lead.status %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= lead.notes %>
  </p>

  <p>
    <strong>Agent:</strong>
    <%= lead.agent %>
  </p>

  <p>
    <strong>Date added:</strong>
    <%= lead.date_added %>
  </p>

  <p>
    <strong>Last update:</strong>
    <%= lead.last_update %>
  </p>

</div>
